   /*
   
   MODAL
   
   */
   .modal{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:90%;
    max-width:1100px;
    height:700px;
    border-radius:20px;
    overflow:hidden;
    display: flex;
    visibility:hidden;
    z-index: -1;
    transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
 }
 .modal__half{
    width:50%;
    display: flex;
   flex-direction: column;
   justify-content: center;
   position: relative;
   transition: all 300ms ease-in;
 
 }
 .modal__open .modal{
    z-index:60;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);
    visibility:visible;
    
 }
 .modal--open .modal__about,
 .modal--open .modal__contact
 {
   transform: translateX(0%);
 }
 /* 
 
 ABOUT ME MODAL 
 
 */
 .modal__about{
    background:snow;
    height:100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
 }
 .modal__info{
   margin: 0 12px;
 }
 .modal__about--title,
 .modal__chat--title{
    font-size:26px;
 }
 .modal__about--sub-title,
 .modal__chat--sub-title{
    margin:12px 0 24px 0;
 }
 .modal__about--para,
 .modal__chat--para{
    margin-bottom:12px;
    line-height:1.75;
 }
 .languages{
    width:100%;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
 
 }
 .laguage__img--wrapper{
    width: 25%;
     padding: 16px;
     position: relative;
     display: flex;
     flex-direction: column;
     align-items: center;
     transition: all 600ms ease;
 }
 .laguage__img--wrapper:hover .language__name{
  transform: scale(1);
  transition: all 600ms ease;
 
 }
 .language__img:hover{
    transform: scale(1.07);
 }
 
 .language__img{
    width: 100%;
   padding:16px;
  
 }
 .language__name{
    position: absolute;
     bottom:-10px;
     transform: scale(0);
     transition: all 600ms ease;
   
  
 }
 
 /* 
 
 CHAT MODAL 
 
 */
 .modal__chat{
    background:#1c1d25;
    color:white;
 display: flex;
 flex-direction:column;
 align-items: center;
 justify-content: center;
 position:relative;
 
 }
 .form__item{
    margin-bottom:20px;
 }
 .form__submit{
    background:#f06449;
    border:2px solid #f06449;
    color:white;
    font-weight:bold;
    max-width:240px;
    width:100%;
    padding:12px 24px;
    font-size:20px;
 }
 .form__submit:hover{
    border-color:white;
    background:transparent;
    transition: all 300ms ease;
 }
 .form__submit:active{
    color:#f06449;
    border-color:#f06449;
    transition:all 300ms ease;
 }
 .modal__chat--sub-title{
    font-size:14px;
 }
 .modal__overlay--loading{
    background:#242424;
    font-size:70px;
    
 }
 .modal__overlay{
    position:absolute;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
 }
 .fa-spinner{
     animation: spin 950ms infinite;
 }
 @keyframes spin {
    0% {
       transform: rotate(0)
    }
    100% {
       transform: rotate(360deg);
    }
 }
 .modal__overlay--success {
    color:#f06449;
    font-weight:900;
    font-size:28px;
    padding:0 36px;
    text-align:center;
    background:black;
 }
 .modal__overlay--visible{
    z-index: 1;
    display: flex;
 }
 .modal__exit{
    position:absolute;
    color:white;
    top:30px;
    right:40px;
    font-size:36px;
    z-index: 100;
 }
 
 .modal__exit:active{
    color:#f06449;
    transition:all 200ms ease;
 }